.header {
  height           : 10vh;
  background-color : #ffad33;
  text-align       : center;
  font-family      : arial;
}

.header h1 {
  padding-top : 4%;
}

.container {
  width            : 100vh;
  height           : 100vh;
  background-color : red;
}

.content {
  height           : 70vh;
  background-color : #ffad33;
}
.content-r
{
  background-color : #ffad33;
  text-align: center;
}
.marq {
  height : 10vh;
}

.menu-left {
  width            : 100%;
  height           : 33%;
  float            : left;
  background-color : #ff9900;
  text-align       : left;
}

.menu-right {
  width            : 100%;
  height           : 33%;
  float            : right;
  background-color : #ff9900;
  text-align       : right;
}

.menu-left p {
  float     : right;
  font-size : 56px;
}

.menu-right p {
  float     : left;
  font-size : 56px;
}

.cf {
  width            : 100%;
  float            : left;
  background-color : Black;
}

img {
  width  : 50%;
  height : 50%;
}

.content img {
  width  : 50%;
  height : 100%;
}

.recipe-image
{
  position: relative;
  text-align: center;
  color: white;
}

.recipe-image img
{
  width: 100%;
}

.recipe-image h3
{
  position: absolute;
  bottom: 0px;
  left: 8px;
  font-size: 23px;
}

.recipe
{
  width: 90%;
}
