.header
{
  background-color: #ffad33;
  height: 10vh;
  font-family: arial;
}
.content
{
  height: 70vh;
}
.menu-left
{
  background-color: #ff9900;
  float: left;
  text-align: left;
  width: 100%;
  height: 33%;
}
.menu-right
{
  text-align: right;
  background-color:#ff9900;
  float: right;
  width: 100%;
  height: 33%;
}
.menu-left p
{
  font-size: 56px;
  float: right;
}
.menu-right p
{
  font-size: 56px;
  float: left;
}
.cf
{
  float: left;
  width: 100%;
  background-color: black;
}

img
{
  width: 50%;
  height: 50%;
}
.content img
{
  width: 50%;
  height: 100%;
}
