.header {
  height           : 10vh;
  background-color : #ffad33;
  font-family      : arial;
}
.container {
    background-color: red;
    width: 100vh;
    height: 100vh;
}


.content {
  height           : 70vh;
  background-color : #ffad33;
}

.marq {
  height : 10vh;
}

.menu-left {
  width            : 100%;
  height           : 33%;
  float            : left;
  background-color : #ff9900;
  text-align       : left;
}

.menu-right {
  width            : 100%;
  height           : 33%;
  float            : right;
  background-color : #ff9900;
  text-align       : right;
}

.menu-left p {
  float     : right;
  font-size : 56px;
}

.menu-right p {
  float     : left;
  font-size : 56px;
}

.cf {
  width            : 100%;
  float            : left;
  background-color : Black;
}

img {
  width  : 50%;
  height : 50%;
}

.content img {
  width  : 50%;
  height : 100%;
}
